html {
  box-sizing: border-box;
  font-size: @font-size;
  font-weight: @font-weight;
}

body {
  min-width: 760px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clickable-text {
  cursor: pointer;
  color: black;
  user-select: none;
  transition: color .2s;
  text-decoration: none;

  &:hover {
    color: @text-color-clickable;
  }
}

.link {
  color: @text-color-clickable;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.page-container {
  display: flex;
  flex-direction: row;
}

.icon {
  cursor: pointer;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  background-size: 14px;
  background-repeat: no-repeat;
  display: inline-block;
  flex-shrink: 0;
}

.icon--big {
  margin-right: 10px;
}

.section {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  color: @color--h2;
  font-size: @font-size--h2;
  font-weight: @font-weight;
  margin-top: 0;

  &.section--icon::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background-size: 30px;
    background-repeat: no-repeat;
  }

  &.section--news::before {
    background-image: url('../img/section-news.png');
  }
}

.invisible {
  display: none;
}
