.icon-help {
  background-image: url('../img/need-help@2x.png');
  width: 22px;
  height: 22px;
  background-size: 22px;
}

.help-n-news {
  margin: 0 40px 0 20px;
  width: 230px;
  flex-shrink: 0;

  .help-links {
    background-color: #EFF2FB;
    height: 140px;
    padding: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
      text-decoration: none;
    }
  }
}

.rpax-news  {
  max-height: 400px;
  overflow-y: scroll;
}

.news-item {
  &__date {
    color: @color--h2;
  }

  &__link {
    text-decoration: none;
    color: @text-color;
  }

  &__description {
    color: @text-color--alternate;
  }
}
