.help-n-news {
  flex-basis: 33.33%;
  padding: 25px 30px;
  background-color: #eff2fb;
}

.news-item {
  &__date {
    color: @color--h2;
  }

  &__link {
    text-decoration: none;
    color: @text-color;
  }
}
