.page-main {
  padding: 40px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-grow: 1;
}

.product-name {
  font-weight: @font-weight--product;
}

.page-header {
  font-size: @font-size--h1;
  font-weight: @font-weight;
  padding-bottom: 24px;

  &::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-image: url('../img/logo_small@2x.png');
  }
}
