.examples {
  flex-basis: 70%;
  padding: 0 25px;
  border-left: 1px solid #ccc;

  &__carousel {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;

    a {
      text-decoration: none;
      color: @text-color;
    }
  }

  .carousel-item {
    img {
      display: block;
    }

    a {
      display: block;
      padding-top: 10px;
    }
  }

  &__videos {
    padding-bottom: 20px;

    .arrow-next {
      position: relative;
      top: -50%;
      border-top: 1px solid grey;
      border-right: 1px solid grey;
      width: 40px;
      height: 40px;
      transform: translateY(50%) rotate(45deg);
      cursor: pointer;
    }
  }

  &__table {
    line-height: 1.3;

    tr:nth-child(2n+1) {
      background-color: @color--eclipse;
    }

    td {
      padding: 5px 10px;

      &:first-child {
        width: 40%;
      }

      &:last-child {
        color: @text-color--alternate;
      }
    }
  }
}
