.recordings {
  flex-basis: 30%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;


  .icon::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background-size: 30px;
    background-repeat: no-repeat;
  }

  .recordings__new::before {
    background-image: url('../../img/recording-new.png');
  }

  .recordings__open::before {
    background-image: url('../../img/recording-open.png');
  }

  .recordings__list {
    list-style-type: none;
    padding: 0 0 20px 0;

    li {
      background-size: 30px;
      background-image: url('../../img/recording-icon.png');
      background-repeat: no-repeat;
      height: 30px;
      padding-left: 33px;
      padding-top: 6px;
    }
  }
}
